rg-wrapblock {
    display: block;
    position: relative;
    line-height: 0;
}

rg-wrapblockcontent {
    left: 20px;
    top: 35px;
    display: block;
    position: absolute;
    line-height: 0;
}
