:root{
    --color-primary: rgb(252, 196, 25);
    --modal-backdrop: rgba(0, 0, 0, 0.5);
    --settings-background: white;
    --clr-menu-highlight: hsl(0, 0%, 30%);
    --clr-menu-icon: hsl(0, 0%, 30%);
    --clr-menu-bg: hsl(0, 0%, 90%);
    --clr-canvas-bg: hsl(0, 0%, 95%);
}