@import url('./font-awesome/css/all.min.css');
@import url('./colors.css');
@import url('./rograph/index.css');

#app {
    display: flex;
}

#app,
html,
body {
    width: 100%;
    height: 100%;
}

html {
    overflow: hidden;
}

body {
    margin: 0;
}

.menu{
    width: 300px;
}

settings-dialog {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: var(--modal-backdrop);
    justify-content: center;
    align-items: center;
}