.settings {
    width: 750px;
    background-color: var(--settings-background);
    padding: 1em;
}

.settings-title {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-bottom: 1em;
}

.settings-title::after {
    content: '';

    --thickness: 3px;

    display: block;
    width: 100%;
    height: var(--thickness);
    border-radius: var(--thickness);
    background: var(--color-primary);
    position: absolute;
    margin-top: 3px;
    bottom: calc(var(--thickness) * -1 - 2px);
    left: 0;
}

.settings-control{
    margin-top: 1em;
    display: flex;
    justify-content: right;
    gap: 0.4em;
}